@using WEB.ModelViews;
@model IEnumerable<WEB.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button class="btn btn-primary"><a asp-action="Create" class="text-white text-decoration-none">Create New</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cliente
            </th>
            <th>
                Carro
            </th>
            <th>
                Marca do Carro
            </th>
            <th>
                Data de Locação
            </th>
            <th>
                Data de Entrega
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (PedidoResumido pedido in ViewBag.pedidos) {
        <tr>
            <td>
                @pedido.NomeCliente
            </td>
            <td>
                    @pedido.NomeCarro
            </td>
            <td>
                    @pedido.NomeMarca
            </td>
            <td>
                    @pedido.DataLocacaoPedido
            </td>
            <td>
                    @pedido.DataEntregaPedido
            </td>
            <td>
                    <button class="btn btn-warning"><a asp-action="Edit" asp-route-id="@pedido.PedidoId" class="text-white text-decoration-none">Edit</a></button>
                    <button class="btn btn-info"><a asp-action="Details" asp-route-id="@pedido.PedidoId" class="text-white text-decoration-none">Details</a></button>
                    <button class="btn btn-danger"><a asp-action="Delete" asp-route-id="@pedido.PedidoId" class="text-white text-decoration-none">Delete</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
